.logout:hover {
    cursor: pointer;
}

.menu-active {
    color: #fd2d01;
}

.fa-sign-in-alt, .fa-sign-out-alt {
    color: #fd2d01;
}

.logo {
    max-height: 2rem;
}

.bg-red {
    background-color: #ff9681;
}

.border-red {
    border-color: #fd2d01 !important;
}

.form {
    min-width: 305px;
}

.profile-data {
    width: 15rem;
    background-color: bisque;
}

@media screen and (min-width: 375px) {
    .form {
        min-width: 360px;
    }
    .profile-data {
        width: 20rem;
    }
}

@media screen and (min-width: 768px) {
    .form {
        min-width: 640px;
    }
    .profile-data {
        width: 20rem;
    }
}

.btn-validation {
    color: #181a1b;
    font-weight: bold;
    background-color: #fd2d01;
    border-color: #a11d03;
}
.btn-validation:hover {
    box-shadow: 0 .01rem .2rem .01rem #181a1b;
}

.btn-register {
    max-width: 10rem;
    color: #181a1b;
    background-color: #fff;
    border-color: #a11d03;
}
.btn-register:hover {
    color: #fff;
    background: #fd2d01;
    box-shadow: 0 .01rem .2rem .01rem #181a1b;
}